:root {
    /* blue */
    --primaryColor: #333333;
    --primaryText: #fff;
    --secondaryColor: #ccf381;

    --backGroundColor: #f9f9f9;
    --primaryLight: #999999;
    --primaryDark: #222222;
    --primaryDarker: #000000;
}

body {
    background-color: var(--backGroundColor);
    font-size: 19px;
    font-family: Helvetica, sans-serif;
    margin: 0px;
}

section {
    padding: 50px 80px;
}

h1 {
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 10px;
}

h2 {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 10px;
}

h3 {
    font-size: 17px;
    font-weight: 800;
    color: var(--primaryLight);
}

.primary {
    color: var(--primaryColor);
}

.primary-background {
    background-color: var(--primaryColor);
    color: #fff;
}

.primary-dark-background {
    background-color: var(--primaryDark);
    color: #fff;
}

.primary-darker-background {
    background-color: var(--primaryDarker);
    color: var(--primaryLight);
}

.primary-darker-background > * > a {
    color: var(--primaryLight);
}

.secondary {
    color: var(--secondaryColor);
}

.secondary-links {
    color: var(--secondaryColor);
    text-decoration: none;
}

.card {
    max-width: 500px;
    margin-bottom: 100px;
}

/* layout styles */
.row {
    display: flex;
}

.row.right {
    flex-direction: row-reverse;
    margin-right: 100px;
}

.grow {
    flex-grow: 1;
}

/* social links - upper */
.fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    color: white;
}

.fa:hover {
    background: var(--secondaryColor);
    color: var(--primaryColor);
}

.links {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    /* align right */
    align-items: end;
}

.links > a {
    max-width: 20px;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

div.toaster {
    color: var(--primaryColor);
    background-color: var(--secondaryColor);
    animation: fadeOut 1s cubic-bezier(0.9, 0, 0.9, 0.5) forwards;
    font-weight: 900;
    font-size: medium;
    padding: 18px;
    margin: 5px;
    border: #fff 2px;
}

a.fadeIn {
    animation: fadeOut 1s ease-in reverse;
}

/* tinker logos */
.tinker-logos {
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 166vh;
}
